*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}


.container{
   
    height:calc(100vh - 60px) ;
    padding-top: 60px;
    padding-bottom: 20px;
    
    
    background-color: black;
}

.inner-container{
    
    width: 90%;
    height: 100%;
    margin: auto;
    
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: space-between;
    align-content: space-between;
    
    
    
    
}

.img{
    
    width: calc(100%/7 - 5px);
    height: calc(100%/5 - 5px);
    

    
}

footer{
   
    height: 60px;
    background-color: #222222;

    display: flex;
    justify-content: space-between;

}   

.footer-items{

    height: 100%;
    /* min-width: 200px; */

    

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;

}

/* .footer-items .fa-video{
    padding-left: 10px;
} */

footer .fa-solid  {
    color: white;
    
}

footer .fa-dimension{
    font-size: 1.5em;
    
}

.fa-angle-up{
    font-size: 0.8em;
}

b{
    color: white;
    display: block;
    font-size: 12px;
    font-weight: normal;
}


.footer-items > div{
text-align: center;
}

footer .fa-share-from-square{
    color: green;
}

 .end{
    color: red;
    font-size: 12px;
    transition: 1s;

    padding-right: 10px;
    padding-left: 10px;
}

.end:hover{
    background-color: #4a4a4a;
    cursor: pointer;
}

.audio-video{
    padding-left: 10px;
}

img{
    width: 100%;
    height: 100%;

  
    
}




    
    


.img{
    position: relative;

    cursor: pointer;
    
}

.img:hover{
    filter: brightness(110%);
}

.img span{
    position: absolute;
    left: 0;
    bottom: 3px;

    background-color: rgba(0, 0, 0, 0.185);
    color: white;
    font-size: 12px;

    

}




.container{
    position: relative;
}

.toggle{
    position: absolute;
    top: 10px;
    right: 0;

   color: white;
}

.toggle span{
    background-color: #4a4a4a;
    margin-right: 5px;
    padding: 2px;

    border-radius: 2px;

    font-size: 12px;
}

